.merge-card {
  background: #0f172a;
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.merge-section {
  margin-top: 20px;
}

.cost {
  font-size: 22px;
  color: #00ff9c;
}

.step-box {
  background: #1e293b;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}